@{
    ViewData["Title"] = "Index";
}
<div class="row">
    <div class="col-9">
        <h2 class="text-primary">All Order</h2>
    </div>
</div>
<div class="container">
    <table id="tbData" class="table table-bordered table-hover table-striped">
        <thead>
            <tr>
                <th>Order Id</th>
                <th>Name</th>
                <th>Date Order</th>
                <th>Total</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
    </table>
</div>
@section Scripts{
    <script src="~/js/AllOrder.js"></script>
}


